@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MUSHROOMGAMES</h1>
    <p class="lead">TU PAGINA FAVORITA DONDE PODRAS COMPRAR TUS MEJORES JUEGOS</p>
    <p><a href="#" class="btn btn-primary btn-lg">Ver Videojuegos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Los mejores descuentos</h2>
        <p>
            Entra al apartado de descuentos para ver todos los descuentos.
        </p>
        <p><a class="btn btn-default" href="#">Ver &raquo;</a></p>

        <img WIDTH=320 HEIGHT=300 class="img-circle" src="@Url.Content("~/Imagenes/descuentosVideojuegos.png")">

    </div>
    
    <div class="col-md-4">
        <h2>Los mejores desarrolladores</h2>
        <p>En Mushroom encontraremos los desarrolladores mas importantes de todo el mundo</p>
        <p><a class="btn btn-default" href="#">Ver &raquo;</a></p>
    
    
        <img WIDTH=320 HEIGHT=300 class="img-circle" src="@Url.Content("~/Imagenes/desarrolladoras.png")">
    </div>


    <div class="col-md-4">
        <h2>De muchas categorias</h2>
        <p>Podras elegir una de todas tus categorias</p>
        <p><a class="btn btn-default" href="#">Ver &raquo;</a></p>

        <img WIDTH=320 HEIGHT=300 class="img-circle" src="@Url.Content("~/Imagenes/fifa2017.jpg")">

    </div>
</div>